.App {
  text-align: center;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: rgba(14, 1, 1, 0.067);
  overflow-x: hidden;
  padding-top: 20px;
  

}
.nav-links {
  padding: 50px 20px 20px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  background-color: rgba(14, 1, 1, 0.067);
  display: block;
 
}

.nav-links:hover {
  color: #f1f1f1;
}



.chatbot {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}


 