@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.App {
  text-align: center;
}

img {
  -webkit-filter: drop-shadow(1px 1px 0 black)
                  drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(1px 1px 0 black) 
          drop-shadow(-1px -1px 0 black);
  width: 600px;
  height: auto;
}
nav {
    display:flex;
    justify-content: spacearound;
    align-items: center;
    min-height: 10vh;
    background: rgb(73,79,82 );
    color: white;
    text-decoration: none;
}
.nav-links{
   width: 60%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style: none; 
}

.chatbot {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.hackillinois{
  font-family: 'Anton', sans-serif;
  color:#CCE6FF;
  
  width:650px;
   margin:0px auto;
   
  
}


 .padding {
   text-align: center;
   padding: 20px;
   display: block;
   margin-left: 500px;
   margin:0px auto;
  font-family: 'Anton', sans-serif;
 }

   .form-block{
     display: flex;
    flex-flow: row wrap;
    align-items: center;
     margin:0px auto;
    background-color: #CCE6FF;
    width: 50%;
    height: 100%;
    border: solid 3px red;
   }

   input[type = text]{
     width:100%;
     padding: 12px 20px;
       margin: 8px 0;
       box-sizing: border-box;

   }
   .hello:hover {
    letter-spacing: 0.8em;
    background-color: #F08C99;
  }
  
  .hello{
    color: white;
  }
  button {
    height: 5em;
    width: 300%;
    padding: 1.5em;
    
    display: block;
    margin-right: auto;
    margin-left: auto;
    /*background-color: #5f94e8; testing to see what colors look nice*/
    background-color: #B697CC;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
   
  }
  
 
  
 
