@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
.App {
  text-align: center;
}

img {
  -webkit-filter: drop-shadow(1px 1px 0 black)
                  drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(1px 1px 0 black) 
          drop-shadow(-1px -1px 0 black);
  width: 600px;
  height: auto;
}
nav {
    display:flex;
    justify-content: spacearound;
    align-items: center;
    min-height: 10vh;
    background: rgb(73,79,82 );
    color: white;
    text-decoration: none;
}
.nav-links{
   width: 60%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style: none; 
}





.chatbot {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}


 .padding {
   text-align: left;
   padding: 20px;
   display: block;
   margin-left: 500px;
   font-family: 'Amatic SC', cursive;
 }

 