.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  margin-right: 100px;
}
body{
  background-color: #282c34;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}
body, h1, h2, h3, h4, h5 {
  font-size: 30px; 
  background-color:#282c34;
}